html,
body {
  padding: 0;
  margin: 0;
}

.bar--positive {
  fill: royalblue;
}

.bar--negative {
  fill: orchid;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

